<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dao">
    <select id="getAllUser" resultType="user">
    select * from user;
    </select>
    <select id="getUser" parameterType="String" resultType="user">
    select * from user where username=#{0};
    </select>
    <insert id="userRegister" parameterType="user">
        insert into user(username,password) values(#{username},#{password});
    </insert>
    <select id="getAllVideos" resultType="Video">
        select * from video;
    </select>
    <select id="serchVideos" resultType="Video" parameterType="String">
        select * from video where v_name like #{0};
    </select>
</mapper>

