<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com"></context:component-scan>

    <bean id="userDao" class="com.dao.impl.UserDaoImpl" ></bean>
    <bean id="user" class="com.domain.User" scope="singleton">
        <!--<constructor-arg name="password" value="123456"></constructor-arg>-->
        <!--<constructor-arg name="userDao" ref="userDao"></constructor-arg>-->
        <!--<constructor-arg name="username" value="123456"></constructor-arg>-->
        <!--<property name="password" value="1111"></property>-->
        <!--<property name="username" value="1111"></property>-->
    </bean>
    <bean id="userService" class="com.service.impl.UserServiceImpl" ></bean>
</beans>